header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 24px;
}

#view-scores {
    text-align: left;
    text-decoration: none;
}

#time {
    text-align: right;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size:42px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#intro-text {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 24px;
}

.hidden {
    display: none;
}

/* Answer buttons */
button {
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: blue;
    color: white;
    font-size: 18px;
}

#score {
    margin-bottom: 10px;
    font-size: 24px;
}

li {
    margin: 10px;
    font-size: 24px;
}